
/* =========================
   HERO BASE
========================= */

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========================
   IMAGEN SLIDER
========================= */

.hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: scale(1.05);
  transition: opacity 1s ease-in-out, transform 6s ease;
}

/* FADE STATES */
.fade-in {
  opacity: 1;
  transform: scale(1.05);
}

.fade-out {
  opacity: 0;
  transform: scale(1.1);
}
